<div class="panel-header panel-header-lg">
  <canvas baseChart id="bigDashboardChart" [datasets]="lineBigDashboardChartData" [labels]="lineBigDashboardChartLabels" [colors]="lineBigDashboardChartColors"
    [options]="lineBigDashboardChartOptions" [chartType]="lineBigDashboardChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h5 class="title" name="chain_evaluator_title">Chain Evaluator</h5>
          <button type="button" class="btn btn-right btn-round btn-default btn-simple btn-icon no-caret" (click)="toggleEvaluator()"
            ngbButton>
            <i [class]="fileEvaluator ? 'now-ui-icons text_caps-small' : 'now-ui-icons files_single-copy-04'"></i>
          </button>
        </div>
        <div class="card-body">
          <form (ngSubmit)="chainFormSubmitted()" #chainForm="ngForm">
            <div *ngIf="fileEvaluator; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <div class="places-buttons">
                <div class="row">
                  <div class="col-md-12 ml-auto mr-auto text-center">
                    <h5 class="card-title">
                      File selector
                      <p class="category">Excel file format
                        <span class="format">
                          (csv/xls/xlsx)
                        </span>
                      </p>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 ml-auto mr-auto">
                    <div class="row">
                      <div class="col-centered">
                        <input style="display: none" id="fileUploader" type="file" (change)="fileChange($event.target.files)" accept=".csv,.xls,.xlsx">
                        <button class="btn btn-round btn-simple" type="button" id="fileSelectorButton" [disabled]="submitted" onclick="document.getElementById('fileUploader').click()">
                          <span *ngIf="!file">
                            Select file...
                          </span>
                          <span *ngIf="file">
                            {{file.name}}
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #elseBlock>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="pre">Chain before NGG</label>
                    <input type="text" class="form-control" minlength="20" maxlength="30" pattern="[acgtACGT]{20,30}" size="20" placeholder="ACGTGCAACGCACGTGCAC"
                      required id="pre" [(ngModel)]="pre" name="pre_input" #preInput="ngModel">
                  </div>
                  <div [hidden]="(!nInput.value && !postInput.value) || preInput.value" class="alert alert-danger" name="chain_required_warning">
                    This chain is required
                  </div>
                  <div [hidden]="!preInput.value || preInput.value.length >= 20" class="alert alert-warning">
                    Please introduce a chain between 20 and 30 characters
                  </div>
                  <div [hidden]="!preInput.value || preInput.valid || preInput.value.length < 20" class="alert alert-warning">
                    Please insert only ACGT characters (case insensitive)
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-md-4 col-xl-3 px-3">
                  <div class="form-group">
                    <label for="n">N in NGG</label>
                    <input type="text" class="form-control" maxlength="1" size="1" pattern="[acgtACGT]" placeholder="A" id="n" [(ngModel)]="n"
                      name="n" #nInput="ngModel">
                  </div>
                </div>
                <div class="col-sm-9 col-md-8 col-xl-9 px-3">
                  <div class="form-group">
                    <label for="post">Chain after NGG</label>
                    <input type="text" class="form-control" maxlength="10" size="7" pattern="[acgtACGT]{0,10}" placeholder="CGTACAGTCA" id="post"
                      [(ngModel)]="post" name="post" #postInput="ngModel">
                  </div>
                </div>
                <div class="col-md-12">
                  <div [hidden]="(!nInput.value && !postInput.value) || (nInput.valid && postInput.valid)" class="alert alert-warning">
                    Please insert only ACGT characters (case insensitive)
                  </div>
                </div>
              </div>
            </ng-template>
            <div class="row">
              <div class="col-centered">
                <button type="submit" class="btn btn-default" [disabled]="(!chainForm.form.valid && !fileEvaluator) || (!file && fileEvaluator) || submitted">Evaluate</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card card-chart">
        <div class="card-header">
          <!-- <h5 class="card-category">Email Statistics</h5> -->
          <h3 class="card-title pl-3">Evaluation results</h3>
        </div>
        <div class="card-body">
          <div class="chart-area pl-2 pr-3">
            <canvas baseChart id="barChartSimpleGradientsNumbers" [datasets]="lineChartGradientsNumbersData" [labels]="lineChartGradientsNumbersLabels"
              [colors]="lineChartGradientsNumbersColors" [options]="lineChartGradientsNumbersOptions" [chartType]="lineChartGradientsNumbersType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats" [hidden]="!evaluationDate">
            <i class="now-ui-icons ui-2_time-alarm"></i>Last evaluated {{evaluationDate | date:'short'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="sequences.length != 0">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <!-- <h5 class="card-category">All Persons List</h5> -->
          <h4 class="card-title"> Chains evaluated</h4>
        </div>
        <div class="card-body">
          <!-- <div class="table-responsive"> -->
          <table class="table">
            <thead class=" text-primary">
              <th class="text-center">
                Name
              </th>
              <th class="text-center">
                Sequence
              </th>
              <th class="text-center">
                PAM
              </th>
            </thead>
            <tbody *ngFor="let sequence of sequences">
              <tr (click)="onSequenceSelect(sequence)" [class.selected]="sequence === shownSequence">
                <td class="text-center">
                  {{sequence.name}}
                </td>
                <td class="text-center">
                  {{sequence.chain}}
                </td>
                <td class="text-center">
                  {{sequence.pam}}
                </td>
              </tr>
            </tbody>
          </table>
          <!-- </div> -->
        </div>
        <div class="card-footer">
          <div class="stats">
            <button type="button" class="btn btn-sm btn-round btn-default btn-simple btn-icon" (click)="clearSequences()" ngbButton>
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span class="pl-2">Clear sequences</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="sequenceErrors.length != 0">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <!-- <h5 class="card-category">All Persons List</h5> -->
          <h4 class="card-title"> Errors during evaluation</h4>
        </div>
        <div class="card-body">
          <!-- <div class="table-responsive"> -->
          <table class="table">
            <thead class=" text-primary">
              <th class="text-left">
                File
              </th>
              <th class="text-center">
                Row
              </th>
              <th>
                Error
              </th>
            </thead>
            <tbody *ngFor="let error of sequenceErrors">
              <tr>
                <td class="text-left">
                  {{error.fileName}}
                </td>
                <td class="text-center">
                  {{error.row}}
                </td>
                <td>
                  {{error.error}}
                </td>
              </tr>
            </tbody>
          </table>
          <!-- </div> -->
        </div>
        <div class="card-footer">
          <div class="stats">
            <button type="button" class="btn btn-sm btn-round btn-default btn-simple btn-icon" (click)="clearErrors()" ngbButton>
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span class="pl-2">Clear errors</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>