<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#">
            GitHub
          </a>
        </li>
        <li>
          <a href="mailto:uo245034@uniovi.es?subject=Crispier">
            Contact me
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy; {{currentDate | date: 'yyyy'}}, Designed & coded by
      <a href="https://github.com/MrSummat" target="_blank">MrSummat</a>.
    </div>
  </div>
</footer>
<!-- <footer class="footer">
  <div class="container-fluid">
    <nav class="github">
      <button href="#" class="btn btn-sm btn-link btn-icon btn-round">
        <i class="fab fa-github fa-2x"></i>
      </button>
      <span class="pl-2">
        See the project on GitHub
      </span>
    </nav>
    <div class="copyright">
      &copy; {{currentDate | date: 'yyyy'}}, Designed & coded by
      <a href="https://github.com/MrSummat" target="_blank">MrSummat</a>.
    </div>
  </div>
</footer> -->