<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://github.com/MrSummat/Crispier" target="_blank">
            GitHub
          </a>
        </li>
        <li>
          <a href="mailto:uo245034@uniovi.es?subject=Crispier">
            Contact me
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      <a href="assets/LICENSE.md" target="_blank" >&copy; {{currentDate | date: 'yyyy'}}</a>, Designed & coded by
      <a href="https://github.com/MrSummat" target="_blank">MrSummat</a>.
    </div>
  </div>
</footer>