<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">File Uploader</h2>
    <p class="category">You can download the template
      <!-- <button class="link" type="button" (click)="downloadTemplate()">full documentation.</button> -->
      <a href='assets/excel/crispier_contribution_template.xlsx' download>here.</a>
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  File selector
                  <p class="category">Excel file format
                    <span class="format">
                      (csv/xls/xlsx)
                    </span>
                  </p>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-centered">
                    <input style="display: none" id="fileUploader" type="file" (change)="fileChange($event.target.files)" accept=".csv,.xls,.xlsx">
                    <button class="btn btn-round btn-simple" type="button" id="fileSelectorButton" onclick="document.getElementById('fileUploader').click()">
                      <span *ngIf="!file">
                        Select file...
                      </span>
                      <span *ngIf="file">
                        {{file.name}}
                      </span>
                    </button>
                    <div class="row">
                      <div class="col-centered">
                        <button type="submit" [disabled]="!file || submitted" (click)="uploadFile()" class="btn">Upload</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="stats col-centered" [hidden]="!submitted">
              <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>Analysing file on server...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="fileErrors.length != 0">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> File errors</h4>
        </div>
        <div class="card-body">
          <!-- <div class="table-responsive"> -->
          <table class="table">
            <thead class=" text-primary">
              <th class="text-left">
                File
              </th>
              <th class="text-center">
                Row
              </th>
              <th>
                Error
              </th>
            </thead>
            <tbody *ngFor="let error of fileErrors">
              <tr>
                <td class="text-left">
                  {{error.fileName}}
                </td>
                <td class="text-center">
                  {{error.row
                  < 0 ? "" : error.row}} </td>
                    <td>
                      {{error.error}}
                    </td>
              </tr>
            </tbody>
          </table>
          <!-- </div> -->
        </div>
        <div class="card-footer">
          <div class="stats">
            <button type="button" class="btn btn-sm btn-round btn-default btn-simple btn-icon" (click)="clearErrors()" ngbButton>
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span class="pl-2">Clear errors</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>