button.link { 
    background:none;
    border:none;
    color: #FFFFFF;
    text-transform: capitalize;
}

span.format {
    text-transform: lowercase;
}

.category{
    max-width: 800px;
    text-transform: initial;
    line-height: 1.8;
}